body {
  width: 250px;
  padding: 10px;
  font-family: sans-serif;
}

h1 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

#languageSearch {
  width: 100%;
  padding: 8px;
  margin-bottom: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

#status {
  font-size: 0.9em;
  color: green;
}